aws_access_key = ""
aws_secret_key = ""
key_pair_name = ""
ssh_pubkey_file = ""
server_name = "unifi.example.com"
admin_email = "admin@exmaple.com"
cloudwatch_alarm_sms_phone_number = "1-555-8675-309"
